
.container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 60vh;
    margin:auto;
    align-items: center;
}

.number{
    text-align: center;
}